@import url("https://use.fontawesome.com/releases/v5.4.2/css/all.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #579C87;
    color:white;
    font-size: 18px;
    min-height: 100vh;
    padding: 2em 20%;
}
a{
    text-decoration: none;
    color:inherit;
}
button {
    font-family: inherit;
    border: 0;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}
input{
    border: 0;
}
input:focus {
    outline: none;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
textarea {
    font-family: "Rubik";
    padding: 0.5em;
    font-size:0.7em;
    resize: none;
    border:0;
}

textarea:focus {
    outline: none;
}

p {
    word-wrap: break-word;
    word-break: break-all;
    overflow-y:auto;
}
select{
    outline: none;
    border: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        padding: 2em 15%;
    }
}

@media  (min-width: 768px) and (max-width: 991px){
    body {
        padding: 2em 10%;
    }
}

@media (max-width: 767px) {
    body {
        padding: 2em 5%;
    }
}

@media (max-width:480px) {
    body {
        width: 90%;
        margin: 0 auto;
        padding: 2em 0;
    }
}

.w-100{
    width: 100%;
}
.pd-25px{
    padding: 25px;
}
.mt-15px{
    margin-top: 15px;
}
.text-center{
    text-align: center;
}
.login .help-block{
    margin-top: 10px;
}

.grid-none{
    grid:none;
}
.tours, .tour{
    margin-top: 20px;
}
.tour_button{
    background: white;
    color: #233D4D;
    width: 150px;
    padding: 10px;
    text-align: center;
}
.tour__name, .tour__price{
    display: flex;
    justify-content: space-between;
}
.pagination{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.pagination li{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    background: #233D4D;
}
.pagination li.active{
    color: #579C87;
}
.pagination li.disabled{
    color: #ccc;
}
.add-inf .form-group{
    padding-top: 25px;
    margin: 0;
}
.form-wrapper{
    display: flex;
    
}
.form-wrapper .form-group{
    width: 90%;
}
.form-wrapper .form-group input{
    width: 100%;
}
.form-wrapper .icon-button{
    width: 10%;
}