.icon-button {
    font-size: 1em;
    background-color: #233D4D;
    color: white;
}

.icon {
    font-size: 1.5em;
}

.button {
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.5em 0;
    transition: 0.4s;
    background-color: #233D4D;
    color: white;
}

.search-form {
    width: 100%;
    display: grid;
    grid: 1fr/11fr 2fr;
}

.form-search-el {
    padding: 1em 2em;
    font-size: 1em;
}

.form-hint {
    background-color: #FE7F2D;
    text-align: center;
}

.information-field {
    width: 100%;
    background-color: white;
    padding: 1em;
    text-align: center;
}

.login-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A1C181;
}

.login-head {
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    background-color: #233D4D;
    padding: 0.5em 1em;
}

.login-form {
    padding: 0 3em;
    margin: 3em 0;
    width: 100%;
    display: grid;
    grid: 1fr 1fr/ 1fr;
    grid-gap: 3em 0;
}

.form-el-wr {
    display: flex;
    flex-direction: column;
}

.login-form-el {
    width: 100%;
    padding: 1em 1em;
    font-size: 1em;
}

.buttons-authorized-block {
    display: grid;
    grid: 1fr/1fr 1fr;
    grid-gap: 0 1em;
}

.form-ele-wr {
    width: 60%;
    font-size: 1.2em;
}

.button-guest-block {
    display: grid;
    grid: 1fr/1fr 1fr;
    grid-gap: 0 1em;
}

.filter {
    padding: 2em 1em;
    background-color: #233D4D;
    margin-top: 1em;
    display: grid;
    grid: auto/ 1fr;
    grid-gap: 2em 0;
    justify-items: center;
}

.filter-name {
    font-size: 1.5em;
    font-weight: bold;
}

.ads {
    margin-top: 3em;
    display: grid;
    grid: auto/ 1fr;
    grid-gap: 1em 0;
}

.announcement {
    position: relative;
    width: 100%;
    padding: 1.5em;
    background-color: #233D4D;
    display: grid;
    grid: auto/1fr;
    grid-gap: 1.5em 0;
    transition: 0.5s;
}

.main-inf {
    display: grid;
    grid: 1fr 1fr/1fr 1fr;
    grid-gap: 1em;
    z-index: 1;
}

.main-inf-el-wr {
    width: 100%;
    display: grid;
    grid: auto/1fr;
}

.add-inf {
    display: flex;
}
.add-inf div{
    margin-top: 20px;
    margin-right: 40px;
}

.center {
    display: flex;
    align-items: center;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .button {
        font-size: 1.2em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .button {
        font-size: 1em;
    }
}

@media (max-width: 767px) {
    .form-el-wr {
        width: 80%;
    }

    .login {
        margin: 0 10%;
    }

    .button {
        font-size: 1em;
    }
}

@media (max-width:480px) {

    .main-inf,
    .add-inf {
        grid: auto/1fr;
    }

    .add-inf {
        grid-gap: 0.8em 0;
        font-size: 0.8em;
    }

    .icon {
        font-size: 3em;
        text-align: center;
    }

    .form-el-wr {
        width: 100%;
    }

    .center {
        justify-content: flex-start;
    }

    .service-user-inf {
        display: grid;
        grid: 1fr auto/1fr;
        grid-gap: 1em 0;
        align-items: flex-start;
    }

    .service-inf {
        width: 100%;
    }

    .main-profile-block {
        grid: 1fr 1fr/1fr;
        grid-gap: 1em 0;
    }

    .login {
        margin: 0;
    }

    .login-form {
        padding: 0;
    }

    .buttons-authorized-block {
        grid: 1fr 1fr 1fr/1fr;
        grid-gap: 0.5em 0;
    }

    .button {
        font-size: 1em;
    }
}