@media (min-width: 1024px) {

    .add_favorite:hover,
    .link:hover {
        background-color: rgb(211, 171, 62);
        transition: 0.5s;
    }

    .additional-inf *:hover {
        color: #112F41;
        transition: 0.3s;
    }

    .fa-gratipay:hover {
        color: #ED553B !important;
        transition: 0.3s;
    }

    .button:hover {
        background-color: #FE7F2D;
        transition: 0.5s;
    }
}